.cover_photo{
    background-image: url(../Images/Academic.PNG);
}
.cover_photo h1{
    color: black;
}
.contact-info{
    padding: 50px 15%;
    display: flex;
    justify-content: space-between;
}
.contact-details{
    margin: 0 30px;
}
.contact-headline h1{
    color: #0096FF;
    font-family: 'Comic Sans MS', Arial;
    font-size: 60px;
}
.contact-platform li{
    font-size: 19px;
    font-family: Lato, sans-serif;
    font-weight: 600;
    line-height: 32px;
    color: #463e3e;
}
.contact-platform li span{
   color: #000;
}
.contact-online{
    display: flex;
   justify-content: start;
}
.contact-online li{
    font-size: 35px;
    margin-top: 10px;
}
.fa-facebook{
    color: #3367d6;
    margin-right: 25px;
}
.fa-linkedin{
    color: #3367d6;
    margin-right: 25px;
}
.fa-github{
    color: #000;
}
