.cover_photo{
    background-image: url(../Images/Academic.PNG);
}
.cover_photo h1{
    color: black;
}
.institution{
    padding: 5% 10% 0% 10%;
}
.ssc{
    display: flex;
    align-items: center;
    margin-bottom: 50px;
}
.ssc img{
    width: 320px;
    height: 320px;
}
.name_text{
   margin-left: 30px;
   width: 50%;
}
.name_text h1{
    color: #3c78d8;
    font-size: 45px;
    margin-bottom: 7px;
}
.name_text p{
    font-size: 21px;
    line-height: 35px;
}
.extra .name_text{
    margin-bottom: 50px;
}