*{
    padding: 0;
    margin: 0;
    list-style: none;
    box-sizing: border-box;
    text-decoration: none;
}
nav{
    width: 100%;
    height: 85px;
    background: black;
}
.logo{
    color: #fff;
    font-size: 28px;
    line-height: 83px;
    padding: 0 100px;
}
.logo h1 span{
    color: red;
}
nav ul{
    float: right;
    margin-top: -52px;
    margin-right: 40px;
    font-family: 'EB Garamond', serif;
    font-family: 'Lato', sans-serif;
    font-family: 'Poppins', sans-serif;
}
nav ul li{
    display: inline-block;
    margin: 0px 5px;

}
.home{
    color: #fff;
    font-weight: bold;
}
nav ul li a{
    color: #fff;
    font-size: 17px;
    padding: 5px 10px;
    border-radius: 3px;
}
nav ul li a:hover{
    color: red;
}
.btn{
    float: right;
    line-height: 87px;
    font-size: 27px;
    color: #fff;
    cursor: pointer;
    margin-right: 30px;
    display: none;
}
#check{
    display: none;
}
.cover_photo{
    background-image: url(../Images/coverphoto.PNG);
    width: 100%;
    height: 50vh;
    background-repeat: none;
    background-position: center;
    background-size: cover;
}
#xyz{
    padding-top: 50px;
}
.heading-line{
    font-size: 100px;
    color: #fff;
    font-family: 'Courier New', Courier, monospace;
    text-align: center;
}
.divition{
    /* display: flex; */
    display: grid;
    grid-template-columns: repeat(4, 250px);
    gap: 20px;
    justify-content: center;
    text-align: center;
    margin-top: 20px;
}
.picture img{
    width: 250px;
    height: 250px;
}
.picture a{
    font-family: 'Comic Sans MS', Arial;
    color: rgba(0,101,128,1);
}
.picture a h1{
    margin: 10px 0px;
}
.picture img:hover{
    transform: scale(1.1);
    background: #e6f7f5;
    transition: 0.3s;
}
footer{
    color: #434343;
    font-family: Arial;
    font-size: 17px;
    text-align: center;
    margin-top: 30px;
    margin-bottom: 20px;
    font-weight: 400;
}